html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    min-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
}
.header {
    background: goldenrod;
    padding: 15px 0;
}
.header-wrap {
    display: flex;
    align-items: center;
}
.nav {
    margin-left: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-list {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav-item + .nav-item {
    padding-left: 15px;
}
.footer {
    background: springgreen;
    padding: 15px;
    text-align: center;
}
.main {
    flex-grow: 1;
    display: flex;
}
.content {
    display: flex;
    padding: 15px;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;
}
.content-title {
    text-transform: uppercase;
    text-align: center;
}
.sidebar {
    max-width: 210px;
    width: 100%;
    padding: 15px;
    text-align: center;
}
.sidebar-left {
    order: -1;
    background: plum;
}
.sidebar-right {
    background: mediumturquoise;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col {
    width: 33.33%;
    padding: 0 15px 30px;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px 20px;
    text-align: center;
    height: 100%;
    transition: all 0.3s;
    background: #fff;
}
.col:hover .card {
    transform: translateY(-20px);
    background: lightgray;
}
.card-img {
    width: 120px;
    height: 120px;
    text-align: center;
    padding: 12px;
    background: darkcyan;
    margin: 0 auto;
    border-radius: 50%;
}
.card-img img {
    border-radius: 50%;
}
.card-body {
    flex-grow: 1;
}
.card-footer a {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid darkcyan;
    border-radius: 25% / 50%;
    background: darkcyan;
    color: #fff;
    transition: all .3s;
}
.card-footer a:hover {
    background: #fff;
    color: darkcyan;
}
/* task 3 */
 .holder {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    width: 40%;
    height: 200px;
    border: 3px solid #000;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(1) {
    background: tomato;
    flex-basis: 50%;
}
.item:nth-child(2) {
    background: lightskyblue;
    order: 4;
    flex-basis: 33.3333%;
}
.item:nth-child(3) {
    background: purple;
    order: 3;
    flex-basis: 33.3333%;
}
.item:nth-child(4) {
    background: green;
    order: 5;
    flex-basis: 33.3333%;
}
.item:nth-child(5) {
    background: orange;
    order: 2;
    flex-basis: 50%;
} 